<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{!--     
    {{movies}} --}}
    
    <h2>Display Movies</h2>
    {{search}}  <br>



    <h3>logout</h3>
     <a href="/logout">Logout</a>
  




</body>
</html>