<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Welcome and good to have you</h2>
   <form method="post" action="/post-user-data">
       <h3>Search Movie Title</h3>
  Movie title:<br>
  <input type="text" name="movietitle"><br>
  <button type="submit">Submit</button>
</form>

<h3> Add Movies</h3>
<form method="post" action="/post-movie">
        <input type="text" name="Title" placeholder="title"><br>
        <input type="text" name="Year" placeholder="year"><br>
        <input type="text" name="Director" placeholder="Director"><br>
         
  
        <input type="submit" value="Submit">
    </form> 
        
</body>
</html>